@model IEnumerable<WebApplication1.Models.Specialty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOFStudy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inspector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OKS)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOFStudy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OKS)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
